@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.header-text {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.sticky-header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #339657;
  box-shadow: 3px 3px -8px 3px #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out;
}

.pagination a:hover {
  background-color: #339657;
}

.pagination .active {
  background-color: #339657;
  color: #fff;
  box-sizing: border-box;
}

.pagination .break-me {
  cursor: not-allowed;
  color: #999;
}

.pagination .disabled {
  cursor: not-allowed;
  color: #999;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 20px;
}

.pagination-info {
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing of the textarea */
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

/* Customize the checkbox style */
[type="checkbox"] {
  appearance: none;
  height: 20px;
  width: 20px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
  cursor: pointer;
}

[type="checkbox"]:checked {
  background-color: #4caf50;
  border: 2px solid #4caf50;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.form-container {
  max-width: 800px;
  margin: 100px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
.form-section {
  margin-bottom: 30px;
}
.form-section-title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}
input[type="text"],
input[type="datetime-local"],
textarea,
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
textarea {
  height: 100px;
}
input[type="submit"] {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #0056b3;
}



@media only screen and (max-width: 768px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #00000084;
    display: none;
  }
  .menu {
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #339657;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  .show_menu {
    display: block;
  }
}
